/* Creator-SaltyFish
QQ3121713453 */
@font-face {}

:root {
	font-family: 'Ma Shan Zheng', cursive;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(25deg, rgb(217, 41, 247), rgb(230, 124, 197), rgb(229, 179, 143), rgb(216, 229, 73)) repeat scroll 0% 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

article {
	width: 560px;
	height: 500px;
	/* background: #000000; */
	display: grid;
	grid-template-columns: repeat(11, 50px);
	grid-template-rows: repeat(10, 50px);
	/* animation:blurred 1s infinite; */
}

div {
	background: #000;
	/* background-clip: content-box; */
	/* border: 1px solid blueviolet; */
	box-sizing: border-box;
	/* color: #FFF; */
	-weight: 100;
}

article div span {
	display: block;
	font-size: .4em;
}

/* 边框 */
div:nth-child(1) {
	grid-area: 1/3/2/5;
	/* display: flex; */
	/* /* justify-content: center; */
	*/
	/* align-items: center; */
}

div:nth-child(2) {
	grid-area: 1/8/2/10;
}

div:nth-child(3) {
	grid-area: 2/2/3/3;
}

div:nth-child(4) {
	grid-area: 2/5/3/6;
}

div:nth-child(5) {
	grid-area: 2/7/3/8;
}

div:nth-child(6) {
	grid-area: 2/10/3/11;
}

div:nth-child(7) {
	grid-area: 3/1/6/2;
}

div:nth-child(8) {
	grid-area: 3/6/4/7;
}

div:nth-child(9) {
	grid-area: 3/11/6/12;
}

div:nth-child(10) {
	grid-area: 6/2/7/3;
}

div:nth-child(11) {
	grid-area: 7/3/8/4;
}

div:nth-child(12) {
	grid-area: 8/4/9/5;
}

div:nth-child(13) {
	grid-area: 9/5/10/6;
}

div:nth-child(14) {
	grid-area: 10/6/11/7;
}

div:nth-child(15) {
	grid-area: 9/7/10/8;
}

div:nth-child(16) {
	grid-area: 8/8/9/9;
}

div:nth-child(17) {
	grid-area: 7/9/8/10;
}

div:nth-child(18) {
	grid-area: 6/10/7/11;
}

/* 填充 */
[class^="r-area"] {
	color: red;
	background: red;
}

.r-area-1 {
	grid-area: 2/3/3/5;
}

.r-area-2 {
	grid-area: 2/8/3/10;
}

.r-area-3 {
	grid-area: 3/2/6/6;
}

.r-area-4 {
	grid-area: 3/7/6/11;
}

.r-area-5 {
	grid-area: 4/6/6/7;
}

.r-area-6 {
	grid-area: 6/3/7/10;
}

.r-area-7 {
	grid-area: 7/4/8/9;
}

.r-area-8 {
	grid-area: 8/5/9/8;
}

.r-area-9 {
	grid-area: 9/6/10/7;
}

[class^="r-area"] {
	position: relative;
}

[class^="r-area"] p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transform: ;
	color: #000;
	font-size: 1.4em;
	opacity: .4;
}

/* 光影 */
[class^="w-area"] {
	/* color: #000000; */
	/* color: white; */
	opacity: 0.5;
	background: #FFF;
}

.w-area-1 {
	opacity: ;
	grid-area: 7/7/8/8;
}

.w-area-1 input {
	width: 50px;
	height: 50px;
	line-height: 100px;
	border: none;
	color: #FFF;
}

.change {
	color: #000;
}

.w-area-2 {
	grid-area: 5/8/7/9;
}

.w-area-2 input {
	width: 50px;
	height: 100px;
	line-height: 100px;
	border: none;
	color: #FFF;
}

.w-area-3 {
	grid-area: 4/9/5/10;
}

.w-area-3 input {
	width: 50px;
	height: 50px;
	line-height: 100px;
	border: none;
	color: #FFF;
}

article {
	position: relative;
}

.writing {
	position: absolute;
	bottom: -170px;
	width: 560px;
	height: 100px;
	background: none;

}

/* 墙 */
.wall {
	position: relative;
	background: none;
}

/* 字体 */
[class^="t-name-"] {
	position: absolute;
	transform: scale(0);
	/* font-weight: normal; */
}

.former {
	background: none;
	animation: t-blurred 1s forwards;
}

h2 {
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.2rem;
	/* font-family: serif; */
	font-weight: normal;
}

h3 {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 1px !important;
	right: 18px;
	line-height: 30px;
	position: fixed;
	/* border: 1px solid #fff; */
	text-align: center;
	color: #000;
	/* background: #efefef; */
	font-weight: 300;
	font-size: 2em;
}

.Top-1 {
	opacity: -1;
	animation: Top-1 1.5s forwards;
	animation-delay: 1.5s;
}

.Top-2 {
	opacity: -1;
	animation: Top-2 1.5s forwards;
	animation-delay: 2.5s;
	color: #FF0000;
}

.Top-3 {
	opacity: -1;
	animation: Top-3 2.5s forwards;
	animation-delay: 3.5s;
}

.Tod-4 {
	animation: Top-3 2.5s forwards;
	animation-delay: 4.5s;
	opacity: -1;

}

.Top-2-1 {
	opacity: -1;
	animation: Top-2 2.5s forwards;
	animation-delay: 5.5s;
	color: #FF0000;
}

.Moon {
	opacity: -1;
	animation: moom 2.5s forwards;
	animation-delay: 7.5s;
}

.Fish {
	position: relative;
	opacity: -1;
	animation-duration: 6s;
	animation-timing-function: linear;

	animation: Fish 6s 1 forwards;
	animation-delay: 8.5s;
}

.Fish::after {
	position: absolute;
	top: 0;
	display: block;
	content: "";
	width: 50px;
	height: 50px;
}

/* 动画 */
@keyframes Top-1 {
	0% {
		opacity: -1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes Top-2 {
	50% {
		transform: scale(1.5);
	}

	100% {
		opacity: 1;
	}
}

@keyframes Top-3 {
	0% {
		opacity: -1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes Top-4 {
	0% {
		opacity: -1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes moom {
	0% {
		opacity: -1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes Fish {
	100% {
		opacity: 1;
	}
}

@keyframes t-blurred {
	100% {
		font-size: 30px;
		transform: scale(1);
	}
}

@keyframes blurred {
	50% {
		transform: scale(1.2);
		opacity: -1;
	}

}
