*{
	/* 清除默认样式 */
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color:#000;
}
body{
	/* 背景颜色 */
	width: 100vw;
	height: 100vh;
	background: linear-gradient(midnightblue,black);
	
	/* 弹性盒子绝对居中 */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 云部分样式 */
.clouds{
	/* 大小颜色和圆角定义 */
	width: 2em;
	height: 2em;
	color: whitesmoke;
	background: currentColor;
	border-radius: 100% 100% 0 0 ;
	position: relative;
	top: -5em;
	animation: cloudy 1s infinite linear forwards;
	filter: opacity(0.75);
}
/* 伪元素公共样式 */
.clouds::before,.clouds::after{
	content: '';
	position: absolute;
	background: currentColor;
	bottom: 0;
}
.clouds::before{
	width: 1.25em;
	height: 1.25em;
	border-radius: 100% 100% 0 100%;
	left: -30%;
}

.clouds::after{
	width: 1.5em;
	height: 1.5em;
	border-radius: 100% 100% 100% 0;
	right: -30%;
}

.clouds,.clouds::before,.clouds::after{
	box-shadow: 5em 2em 0 -0.3em,-2em 2em 0 0em;
}

@keyframes cloudy {
	40%{
		filter: opacity(0.75);
	}
	50%,100%{
		transform: translateX(4em);
		filter: opacity(0);
	}
}


.rabbit{
	width: 5em;
	height: 3em;
	color: whitesmoke;
	/* 兔子形状绘制 */
	background: radial-gradient(circle at 4.2em 1.4em,#333 0.15em,transparent 0.15em),currentColor;
	border-radius: 70% 90% 60% 50%;
	
	
	position: relative;
	/* 影子绘制 */
	box-shadow: -0.2em 1em 0 -0.75em #333;
	
	animation:hop 1s cubic-bezier(.67,.83,.46,.29) infinite;
}
@keyframes hop{
	20%{
		transform: rotate(-10deg) translate(1em,-2em);
		box-shadow: -0.2em 3em 0 -1em #333;
	}
	40%{
		transform: rotate(10deg) translate(3em,-4em);
		box-shadow: -0.2em 3.25em 0 -1em #333;
	}
	60%,75%{
		transform: rotate(0deg) translate(4em,0em);
		box-shadow: -0.2em 1em 0 -0.75em #000000;
	}
}
/* 兔子形状 */
.rabbit::before{
	content: '';
	position: absolute;
	width: 0.75em;
	height: 2em;
	background: currentColor;
	border-radius: 50% 100% 0 0;
	transform: rotate(-30deg);
	top: -1em;
	right: 1em;
	border: 1px solid;
	/* 耳朵细节 */
	border-color: gainsboro transparent transparent gainsboro; 
	box-shadow: -0.5em 0 0 -0,1em;
}
.rabbit::after{
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	background: currentColor;
	border-radius: 50%;
	left: -0.3em;
	top: 0.5em;
	box-shadow: 0.5em 2em 0,4.2em 1.75em 0 -0.2em,4.4em 1.9em 0 -0.2em;
	animation: action 1s 0.4s infinite linear;
}

@keyframes action {
	50%{
		box-shadow: 0.5em 1em 0,4em 1em 0 -0.2em,4em 1em 0 -0.2em;
	}
}