<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>你的双眸有遥远的冬雪🥰</title>
		<link rel="stylesheet" type="text/css" href="assets/css/index.css" />
		<link rel="stylesheet" type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<!-- <link href='http://cdn.repository.webfont.com/webfonts/nomal/147077/46882/619b5684f629d80c7cf4e310.css'
			rel='stylesheet' type='text/css' /> -->
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="icon" type="" href="../../../src/img/sfz.png" />
	</head>
	<body>
		<!-- Creator-SaltyFish -->
		<!-- QQ3121713453 -->


		、

		<div id="app" style="background: none;">
			<h2>
				<span class="Top-1">{{DefaultText1}}</span>
				<i class="Top-2 fa fa-heart"></i>
				<span class="Top-3">{{DefaultText2}}</span>
				<span class="Tod-4">{{DefaultText3}}</span>
				<i class="Top-2-1 fa fa-heart"></i>
				<span class="Fish">我喜欢你！</span>
				<!-- <i class="Moon">🌙</i> -->
			</h2>
			<article>
				<div>
					<span>人和人之间想要保持长久舒适的关系，靠的是共性和吸引，而不是压迫，捆绑，奉承，和一味的付出以及道德式的自我感动。</span>
				</div>
				<div>
					<span>不把幸福寄托给别人的人才最容易幸福。</span>
				</div>
				<div>
					<span></span>
				</div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div>
					<span></span>
				</div>
				<div class="r-area-1" @click="r1click1()">
					<!-- <p>1</p> -->
					<p>点我</p>
				</div>
				<div class="r-area-2" @click="r1click2()">
					<!-- <p>2</p> -->
				</div>
				<div class="r-area-3" @click="r1click3()">
					<!-- <p>3</p> -->
				</div>
				<div class="r-area-4" @click="r1click4()">
					<!-- <p>4</p> -->
				</div>
				<div class="r-area-5" @click="r1click5()">
					<!-- <p>5</p> -->
				</div>
				<div class="r-area-6" @click="r1click6()">
					<!-- <p>6</p> -->
				</div>
				<div class="r-area-7" @click="r1click7()">
					<!-- <p>7</p> -->
				</div>
				<div class="r-area-8" @click="r1click8()">
					<!-- <p>8</p> -->
				</div>
				<div class="r-area-9" @click="r1click9()">
					<!-- <p>9</p> -->
				</div>
				<div class="w-area-1">
					<input type="text" name="" id="" value="" v-model="DefaultText1" @click="InpClick"
						v-bind:class="{change:true}" />
				</div>
				<div class="w-area-2">
					<input type="text" name="" id="" value="" v-model="DefaultText2" />
				</div>
				<div class="w-area-3">
					<input type="text" name="" id="" value="" v-model="DefaultText3" />
				</div>
				<div class="writing">
					<div class="wall">
						<div class="t-name-1" v-bind:class="{former:condition1}">{{name1}}</div>
						<div class="t-name-2" v-bind:class="{former:condition2}">{{name2}}</div>
						<div class="t-name-3" v-bind:class="{former:condition3}">{{name3}}</div>
						<div class="t-name-4" v-bind:class="{former:condition4}">{{name4}}</div>
						<div class="t-name-5" v-bind:class="{former:condition5}">{{name5}}</div>
						<div class="t-name-6" v-bind:class="{former:condition6}">{{name6}}</div>
						<div class="t-name-7" v-bind:class="{former:condition7}">{{name7}}</div>
						<div class="t-name-8" v-bind:class="{former:condition8}">{{name8}}</div>
						<div class="t-name-9" v-bind:class="{former:condition9}">{{name9}}</div>
					</div>
				</div>
			</article>

			<h3 style="font-style: italic;">
				Creation-SaltyFish 2021-12-1&nbsp;&nbsp;
			</h3>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="assets/js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
