* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  user-select: none;
}
body {
  width: 100vw;
  height: 100vh;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container {
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
body .container .item {
  width: 18em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body .container .item .picture {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: 0.3s;
}
body .container .item .title {
  position: absolute;
  color: #777;
  z-index: 1;
  pointer-events: none;
  font-family: 'Courier New';
  font-weight: 400;
  letter-spacing: 0.14em;
  transition: 0.2s;
}
body .container .item .mask {
  width: 50em;
  height: 50em;
  border-radius: 50%;
  color: #333;
  box-shadow: inset 0 0 0 25em;
  transition: box-shadow 0.3s;
  pointer-events: none;
  position: absolute;
  top: -25em;
  left: -25em;
}
body .container .item:hover .picture {
  transform: scale(1);
}
body .container .item:hover .title {
  opacity: 0;
}
body .container .item:hover .mask {
  box-shadow: inset 0 0 0 15em;
}
